<a href="https://colab.research.google.com/github/kenanmorani/Prediction_Of_Total_Produced_Biogas_Flow/blob/main/Recursive_SVM_Standard_scaled_Feature_selective_for_Biogas_Flow_Prediction_results2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
import warnings
from sklearn import preprocessing

In [2]:
# Mounting my google drive
from google.colab import drive

In [4]:
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [5]:
ss = pd.read_csv('/content/gdrive/MyDrive/Biogaz_Flow/Real_Plant_Data.csv')

In [6]:
del ss['Date'] # Deleting the 'Date' column
ss.head()

   TMF  TKM_percent  ...  Fatty_Accid  Total_Biogaz_Production
0  240        46.26  ...       244.36                     2113
1  120        44.77  ...       413.54                     1754
2  200        44.45  ...       378.60                     1884
3  160        44.31  ...       353.66                     1768
4  200        50.58  ...       343.96                     1715

[5 rows x 6 columns]

In [7]:
d = preprocessing.minmax_scale(ss) # Applying normalization on the data

In [8]:
d

array([[0.07906977, 0.35562731, 0.49103836, 0.25709628, 0.13314154,
        0.07240799],
       [0.02325581, 0.34417282, 0.3261739 , 0.32112534, 0.22532065,
        0.05513592],
       [0.06046512, 0.34171279, 0.33491335, 0.24174237, 0.2062833 ,
        0.06139043],
       ...,
       [0.34418605, 0.55004613, 0.50866538, 0.14047192, 0.03456035,
        0.25316334],
       [0.47906977, 0.76737392, 0.70967264, 0.13393834, 0.02668715,
        0.22126534],
       [0.48372093, 0.66128536, 0.61161309, 0.35552463, 0.20717142,
        0.33403897]])

In [9]:
names = ss.columns
df = pd.DataFrame(d, columns=names)

In [10]:
df

          TMF  TKM_percent  ...  Fatty_Accid  Total_Biogaz_Production
0    0.079070     0.355627  ...     0.133142                 0.072408
1    0.023256     0.344173  ...     0.225321                 0.055136
2    0.060465     0.341713  ...     0.206283                 0.061390
3    0.041860     0.340637  ...     0.192695                 0.055809
4    0.060465     0.388838  ...     0.187409                 0.053260
..        ...          ...  ...          ...                      ...
389  0.390698     0.360394  ...     0.088485                 0.265769
390  0.404651     0.293589  ...     0.059526                 0.238345
391  0.344186     0.550046  ...     0.034560                 0.253163
392  0.479070     0.767374  ...     0.026687                 0.221265
393  0.483721     0.661285  ...     0.207171                 0.334039

[394 rows x 6 columns]

In [11]:
# Identifying the target feature by splitting the dataset
samples = df.filter(['TMF', 'TKM_percent', 'TUKM_percent', 'Alcantine', 'Fatty_Accid'])
scores = df.filter(['Total_Biogaz_Production'])

In [12]:
samples

          TMF  TKM_percent  TUKM_percent  Alcantine  Fatty_Accid
0    0.079070     0.355627      0.491038   0.257096     0.133142
1    0.023256     0.344173      0.326174   0.321125     0.225321
2    0.060465     0.341713      0.334913   0.241742     0.206283
3    0.041860     0.340637      0.394608   0.248603     0.192695
4    0.060465     0.388838      0.344097   0.244356     0.187409
..        ...          ...           ...        ...          ...
389  0.390698     0.360394      0.333284   0.100725     0.088485
390  0.404651     0.293589      0.271515   0.090546     0.059526
391  0.344186     0.550046      0.508665   0.140472     0.034560
392  0.479070     0.767374      0.709673   0.133938     0.026687
393  0.483721     0.661285      0.611613   0.355525     0.207171

[394 rows x 5 columns]

In [13]:
scores

     Total_Biogaz_Production
0                   0.072408
1                   0.055136
2                   0.061390
3                   0.055809
4                   0.053260
..                       ...
389                 0.265769
390                 0.238345
391                 0.253163
392                 0.221265
393                 0.334039

[394 rows x 1 columns]

# PBIAS

In [15]:
!pip install spotpy

Collecting spotpy
  Downloading https://files.pythonhosted.org/packages/1c/07/fee2a157aaf45ecfc91701b754d7e7eabe89cea7526ff8841611b11c22f9/spotpy-1.5.14-py3-none-any.whl (186kB)
     |████████████████████████████████| 194kB 5.1MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from spotpy) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from spotpy) (1.19.5)
Installing collected packages: spotpy
Successfully installed spotpy-1.5.14

In [46]:
import spotpy
import numpy as np
def pbias(model, x_test, y_test):
    x1 = x_test
    x2=y_test
    prediction = model.predict(x1)
    if len(y_test) == len(prediction):
        sim = np.array(prediction)
        obs = np.array(x2)
        print('Pbias is', 100 * (float(np.nansum(sim - obs)) / float(np.nansum(obs))))

    else:
        logging.warning("evaluation and simulation lists does not have the same length.")
        return np.nan

In [47]:
# Identifying the target feature by splitting the dataset
samples = df.filter(['TMF', 'TKM_percent', 'TUKM_percent', 'Alcantine', 'Fatty_Accid'])
scores = df.filter(['Total_Biogaz_Production'])

#Setting a parameter for SVM model
C = 0.9

# Defining the number of features to investigate
nFeatures = len(df.columns) - 1

rfeIndex = nFeatures

In [48]:
#Recursively eliminate features based on the lowest weight
while True:
	#Split into training and testing
	x_train, x_test, y_train, y_test = train_test_split(samples, scores, test_size = 0.50, train_size=0.5)
	
	#Create SVM model using a linear kernel
	model = svm.SVR(kernel='linear', C=C).fit(x_train, y_train)
	coef = model.coef_

	#Print co-efficients of features
	for i in range(0, nFeatures):
		print(samples.columns[i-1],":", coef[0][i-1])
	
	#Find the minimum weight among features and eliminate the feature with the smallest weight
	min = coef[0][0]
	index = 0
	for i in range(0, rfeIndex):
		if min > coef[0][i-1]:
			index = index + 1
			min = coef[0][i-1]
	if len(samples.columns) == 1:
		print("After recursive elimination we have the", samples.columns[index], "feature with a score of:", min)
		pbias(model, x_test, y_test)
		break
	else:
		print ("Lowest feature weight is for", samples.columns[index], "with a value of:", min)
		print ("Dropping feature", samples.columns[index])  

		#Drop the feature in the 'samples' dataframe based on the lowest feature index
		samples.drop(samples.columns[index], axis = 1, inplace = True)
		pbias(model, x_test, y_test)
		print ("\n")
		rfeIndex = rfeIndex - 1
		nFeatures = nFeatures - 1

Fatty_Accid : 0.27556802934998104
TMF : 0.5274086103585467
TKM_percent : 0.04882962678661601
TUKM_percent : 0.14106851785385222
Alcantine : -0.22122028339644778
Lowest feature weight is for Alcantine with a value of: -0.22122028339644778
Dropping feature Alcantine
Pbias is -371.3567564207376


Fatty_Accid : 0.16028096371011158
TMF : 0.5774808554182894
TKM_percent : 0.07035903151465694
TUKM_percent : 0.04070174463564086
Lowest feature weight is for Fatty_Accid with a value of: 0.04070174463564086
Dropping feature Fatty_Accid
Pbias is 669.5196945742989


TUKM_percent : 0.14619899728215854
TMF : 0.49759913091056157
TKM_percent : -0.04013905694060585
Lowest feature weight is for TUKM_percent with a value of: -0.04013905694060585
Dropping feature TUKM_percent
Pbias is -306.5912879609423


TKM_percent : 0.13782986829033628
TMF : 0.5706439754819995
Lowest feature weight is for TKM_percent with a value of: 0.13782986829033628
Dropping feature TKM_percent
Pbias is 1512.6268874790608


TMF : 0.5240496068316135
After recursive elimination we have the TMF feature with a score of: 0.5240496068316135
Pbias is -480.44997649053596

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Average Bias Deviation

In [43]:
# Mean Bias Deviation
def mbd(model, x_test, y_test):
    x1 = x_test
    x2=y_test
    prediction = model.predict(x1)
    predict = np.array(prediction)
    actual = np.array(x2)

    difference = predict - actual
    numerator = np.sum(difference) / len(predict)
    denumerator = np.sum(actual) / len(predict)
    score = float(numerator) / denumerator * 100

    print('Mean Bias Deviation:', score)

In [44]:
# Identifying the target feature by splitting the dataset
samples = df.filter(['TMF', 'TKM_percent', 'TUKM_percent', 'Alcantine', 'Fatty_Accid'])
scores = df.filter(['Total_Biogaz_Production'])

#Setting a parameter for SVM model
C = 0.9

# Defining the number of features to investigate
nFeatures = len(df.columns) - 1

rfeIndex = nFeatures

In [45]:
#Recursively eliminate features based on the lowest weight
while True:
	#Split into training and testing
	x_train, x_test, y_train, y_test = train_test_split(samples, scores, test_size = 0.50, train_size=0.5)
	
	#Create SVM model using a linear kernel
	model = svm.SVR(kernel='linear', C=C).fit(x_train, y_train)
	coef = model.coef_

	#Print co-efficients of features
	for i in range(0, nFeatures):
		print(samples.columns[i-1],":", coef[0][i-1])
	
	#Find the minimum weight among features and eliminate the feature with the smallest weight
	min = coef[0][0]
	index = 0
	for i in range(0, rfeIndex):
		if min > coef[0][i-1]:
			index = index + 1
			min = coef[0][i-1]
	if len(samples.columns) == 1:
		print("After recursive elimination we have the", samples.columns[index], "feature with a score of:", min)
		mbd(model, x_test, y_test)
		break
	else:
		print ("Lowest feature weight is for", samples.columns[index], "with a value of:", min)
		print ("Dropping feature", samples.columns[index])  

		#Drop the feature in the 'samples' dataframe based on the lowest feature index
		samples.drop(samples.columns[index], axis = 1, inplace = True)
		mbd(model, x_test, y_test)
		print ("\n")
		rfeIndex = rfeIndex - 1
		nFeatures = nFeatures - 1

Fatty_Accid : 0.1961776611857231
TMF : 0.5703201789724173
TKM_percent : -0.028919249821784565
TUKM_percent : 0.1700877526095526
Alcantine : -0.10920043315663767
Lowest feature weight is for Alcantine with a value of: -0.10920043315663767
Dropping feature Alcantine
Mean Bias Deviation: -1097.1995402860323


Fatty_Accid : 0.1581088403375036
TMF : 0.5764777507063056
TKM_percent : 0.02209761283348677
TUKM_percent : 0.1535504442307637
Lowest feature weight is for TUKM_percent with a value of: 0.02209761283348677
Dropping feature TUKM_percent
Mean Bias Deviation: 67.97340989449101


Fatty_Accid : 0.15684504083045853
TMF : 0.5574346576382773
TKM_percent : 0.04141193433530694
Lowest feature weight is for Fatty_Accid with a value of: 0.04141193433530694
Dropping feature Fatty_Accid
Mean Bias Deviation: -945.5198911528068


TKM_percent : 0.13777529991472962
TMF : 0.570255879178561
Lowest feature weight is for TKM_percent with a value of: 0.13777529991472962
Dropping feature TKM_percent
Mean Bias Deviation: -86.55800258261795


TMF : 0.5176931237479587
After recursive elimination we have the TMF feature with a score of: 0.5176931237479587
Mean Bias Deviation: -532.6070481289806

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Index of Agreement

In [22]:
def index_agreement(model, x_test, y_test):
    prediction = model.predict(x_test)
    s = np.ravel(prediction)
    o = np.ravel(y_test)
    ia = 1 -(np.sum((o-s)**2))/(np.sum(
    			(np.abs(s-np.mean(o))+np.abs(o-np.mean(o)))**2))
    print('Index of Agreement:', ia)

In [39]:
# Identifying the target featue by splitting the dataset
samples = df.filter(['TMF', 'TKM_percent', 'TUKM_percent', 'Alcantine', 'Fatty_Accid'])
scores = df.filter(['Total_Biogaz_Production'])

#Setting a parameter for SVM model
C = 0.9

# Defining the number of features to investigate
nFeatures = len(df.columns) - 1

rfeIndex = nFeatures

In [40]:
#Recursively eliminate features based on the lowest weight
while True:
	#Split into training and testing
	x_train, x_test, y_train, y_test = train_test_split(samples, scores, test_size = 0.50, train_size=0.5)
	
	#Create SVM model using a linear kernel
	model = svm.SVR(kernel='linear', C=C).fit(x_train, y_train)
	coef = model.coef_

	#Print co-efficients of features
	for i in range(0, nFeatures):
		print(samples.columns[i-1],":", coef[0][i-1])
	
	#Find the minimum weight among features and eliminate the feature with the smallest weight
	min = coef[0][0]
	index = 0
	for i in range(0, rfeIndex):
		if min > coef[0][i-1]:
			index = index + 1
			min = coef[0][i-1]
	if len(samples.columns) == 1:
		print("After recursive elimination we have the", samples.columns[index], "feature with a score of:", min)
		index_agreement(model, x_test, y_test)
		break
	else:
		print ("Lowest feature weight is for", samples.columns[index], "with a value of:", min)
		print ("Dropping feature", samples.columns[index])  

		#Drop the feature in the 'samples' dataframe based on the lowest feature index
		samples.drop(samples.columns[index], axis = 1, inplace = True)
		index_agreement(model, x_test, y_test)
		print ("\n")
		rfeIndex = rfeIndex - 1
		nFeatures = nFeatures - 1

Fatty_Accid : 0.21817034798865326
TMF : 0.590994406414102
TKM_percent : 0.0163374995963792
TUKM_percent : 0.09399721785641979
Alcantine : -0.04919754809390098
Lowest feature weight is for Alcantine with a value of: -0.04919754809390098
Dropping feature Alcantine
Index of Agreement: 0.800253400980088


Fatty_Accid : 0.16788618359634683
TMF : 0.5785926273202916
TKM_percent : -0.03503224333094851
TUKM_percent : 0.13513878182443556
Lowest feature weight is for TUKM_percent with a value of: -0.03503224333094851
Dropping feature TUKM_percent
Index of Agreement: 0.7846920076786874


Fatty_Accid : 0.16430441915698127
TMF : 0.5691135950211333
TKM_percent : 0.12817738156133487
Lowest feature weight is for Fatty_Accid with a value of: 0.12817738156133487
Dropping feature Fatty_Accid
Index of Agreement: 0.8151345731851215


TKM_percent : 0.21283925090893327
TMF : 0.5727591383046448
Lowest feature weight is for TKM_percent with a value of: 0.21283925090893327
Dropping feature TKM_percent
Index of Agreement: 0.767056879591965


TMF : 0.5993383442698815
After recursive elimination we have the TMF feature with a score of: 0.5993383442698815
Index of Agreement: 0.7703258461673691

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)